#status-area {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: #333;
  max-width: @maxWidth;
  margin: 0 auto;
  padding: 0 20px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  border-radius: 5px 0 0 0;
  .in-lobby & {
    color: #aaa;
  }
}
