#status-area {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-top: 1px solid #333;
}

.disabled {
  color: #666;
}

#status {
  max-width: @maxWidth;
  margin: 0 auto;
  .box-sizing(border-box);
  padding: @maxWidthPadding;
  .flex-display(flex);
  .align-items(stretch);

  .status-line {
    .flex(1);
    height: 24px;
    color: #eee;
    margin: 5px auto;
  }

  .status {
    display: inline;
    max-width: 300px;
    border-right: 1px solid #eee;
    padding-right: 1em;
    padding-left: 1em;
  }
  & .status.first {
    padding-left: none;
  }
  .status.last {
    border-right: none;
  }

  #timer {
    width: 260px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #333;
    border-radius: 4px;
    overflow: hidden;
    .box-sizing(border-box);
    margin: 5px auto;
    text-align: center;

    .box-shadow(inset 0 -10px 20px rgba(200, 200, 200,0.1));

    .timer {

      height: 100%;
      width: 100%;
      display: block;

      &.stopped {
        background-color: transparent;
      }

      &.paused, &.active {
        .box-shadow(inset 0 10px 20px rgba(255,255,255,0.2));
      }

      &.paused {
        background-color: #999;
      }

      &.much-time {
        background-color: @green;
      }

      &.some-time {
        .transition(background-color 4s ease);
        background-color: @orange;
      }

      &.little-time {
        .transition(background-color 3s ease);
        background-color: @red;
      }
    }
  }
}
