@import "mixins.less";

@import "reset.less";

html, body {
  height: 100%;
}
html {
  background-color: #fff;
  font-family: helvetica neue, helvetica, arial, sans-serif;
}

.nko {
  position: absolute;
  top: 10px;
  right: 10px;
}

.lobby {
  background-color: #333;
  min-height: 100vh;
  .flex-display(flex);
  .flex-direction(column);


  h1 {
    font-size: 40px;
    line-height: 1.2;
  }
  form {
    margin: 20px 0;
  }
  h2 {
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
  }
}

.intro-wrap {
  .flex(1);
  .flex-display(flex);
  .flex-direction(column);
  .justify-content(center);
  .align-items(center);

  /*display: none;*/
}
.intro {
  background-color: #fff;
  max-width: 600px;
  padding: 20px;
}

.header {
  text-align: center;
  padding: 20px;
  color: #fff;
  font-size: 40px;
}

.game {
  .flex-display(flex);
  .align-items(flex-start);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 20px;
}

.main {
  .flex(1);
}
.sidebar {
  width: 260px;
  background-color: #eee;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
}
.players {
  overflow: hidden;
}
.player {
  img {
    width: 100%;
    height: auto;
  }
}

.sidebar .player {
  .card {
    background-color: #fff;
    border: 2px solid #aaa;
    border-radius: 4px;
    padding: 10px;

    .pic {
      margin-bottom: 10px;
    }
    .info {
      background-color: #eee;
      color: #333;
      border-radius: 4px;
      padding: 10px;
      font-size: 14px;
    }
  }
}

.players .player {
  float: left;
  width: 20%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 20px;
  padding-top: 20px;

  .card {
    border-radius: 4px;
    background-color: #ccc;
    padding: 10px;
    overflow: hidden;

    .pic {
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 10px;
    }

    .info {
      background-color: #fff;
      color: #333;
      border-radius: 4px;
      padding: 10px;
      font-size: 14px;
    }
  }
}

@media all and (max-width: 1024px) {
  .players .player {
    width: 33.3333333333333%;
  }
}

.status-wrap {
  background-color: #333;
}
.status {
  max-width: 1200px;
  padding: 20px 0;
  margin: 0 auto;
  position: relative;
}
.timer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 40px;
}
strong {
  font-weight: bold;
}

.condidates {
}
.candidate {
  .flex-display(flex);
  margin-top: 20px;
}
.profile {
  width: 75px;
  height: 75px;
  background-color: #fff;
  border-radius: 4px;
}
.votes {
  .flex(1);
  overflow: hidden;
}

.vote {
  background-color: #fff;
  width: 20px;
  height: 20px;
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.demo {
  position: absolute;
  padding: 20px;
  button {
    margin: 0;
  }
}
.in-lobby .status,
.in-lobby .game {
  display: none;
}
.in-game .lobby {
  height: auto;
}
.in-game .intro-wrap {
  display: none;
}


@baseColor: #c00;
.loop-through(@n) when (@n > 0) {
  .color-@{n} {
     background-color: spin(@baseColor, @n * 110);
     color: contrast(spin(@baseColor, @n * 110));
  }
  .loop-through(@n - 1);
}
.loop-through(16);

