@import "mixins.less";

@import "reset.less";


@maxWidth: 1200px;
@maxWidthPadding: 0 20px;

html, body {
  height: 100%;
}
html {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

body {
  font-size: 16px;
  line-height: 22px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Adobe Garamond Pro", Times, serif;
  font-weight: normal;
}

/*
.nko {
  position: absolute;
  top: 10px;
  right: 10px;
}
*/

.lobby {
  background-color: #556;
  min-height: 100vh;
  background-image: url(/assets/lobby_night_bg.svg);
  background-size: cover;
  background-position: bottom;
  .flex-display(flex);
  .flex-direction(column);

  font-size: 15px;
  line-height: 1.4;
  color: #fff;

  a {
    color: #fff;
    font-weight: bold;
  }

  h1 {
    font-size: 60px;
    line-height: 1.1;
    font-weight: normal;
  }
  h2 {
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 5px;
  }

  input[type=text] {
    margin: 0;
    border: none;
    font-size: 16px;
    line-height: 20px;
    font-family: inherit;
    padding: 10px;
    .box-sizing(border-box);
    max-width: 220px;
    width: 100%;
  }

  button {
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    display: block;
    cursor: pointer;
  }

  .play-now {
    background-color: #e8521f;
    color: #fff;
    font-size: 30px;
    padding: 10px 40px;
    border: 3px solid #f05a23;
    margin: 10px 0;

    max-width: 220px;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  .spectate {
    background-color: transparent;
    color: #fff;
    text-decoration: underline;
    display: inline-block;
    line-height: 22px;
    &:focus {
      outline: none;
    }
  }

  .nko {
    margin-top: 20px;
  }
}

.row {
  overflow: hidden;
}

.row + .row {
  margin-top: 40px;
}

.cell {
  width: 33.3333333%;
  float: left;

  .box-sizing(border-box);

  padding-right: 40px;

  &.span2 {
    width: 66.6666666%;
  }
}

.logos {
  overflow: hidden;
}
.logo {
  float: left;
  img {
    display: block;
    margin-right: 5px;
  }
}
.logo + .logo {
  margin-left: 10px;
}

video {
  display: none
}

.intro-wrap {
  .flex(1);
  .flex-display(flex);
  .flex-direction(column);
  .justify-content(center);
  .align-items(center);

  max-width: @maxWidth;
  margin: 40px auto;
  .box-sizing(border-box);
  padding: @maxWidthPadding;

  /*display: none;*/
}
.intro {
}

.header {
  max-width: @maxWidth;
  width: 100%;
  margin: 0 auto;
  .box-sizing(border-box);
  padding: @maxWidthPadding;

  img {
    max-width: 600px;
    height: auto;
    float: left;
  }
}

.footer {
  max-width: @maxWidth;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 40px;
  .box-sizing(border-box);
  color: #ccc;
  font-size: 11px;

  hr {
    height: 2px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: #ccc;
    margin: 20px 0;
  }

  a {
    color: #ccc;
    font-weight: bold;
  }

  img {
    display: block;
  }

  .logos {
    margin-bottom: 5px;
    line-height: 60px;
  }
}

.game {
  .flex-display(flex);
  .align-items(stretch);
  max-width: @maxWidth;
  margin: 0 auto;
  .box-sizing(border-box);
  padding: @maxWidthPadding;
  padding-bottom: 20px;
  .box-sizing(border-box);

  min-height: 100vh;
  .align-content(stretch);
}

.main {
  .flex(1);
}

.sidebar {
  width: 260px;
  background-color: #eee;
  .box-sizing(border-box);
  padding: 20px;
}
.players {
  overflow: hidden;
}
.player {
  img {
    width: 100%;
    height: auto;
  }
}

.sidebar .player {
  .card {
    background-color: #fff;
    border: 2px solid #aaa;
    border-radius: 4px;
    padding: 10px;

    .pic {
      margin-bottom: 10px;
    }
    .info {
      background-color: #e6e6e6;
      padding: 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 16px;
      font-weight: bold;
    }
    .occupation {
      font-size: 11px;
    }
  }
}

.players .player {
  float: left;
  width: 20%;
  .box-sizing(border-box);
  padding-right: 20px;
  padding-top: 20px;

  &.selected .card .pic {
    // background-color: #fc0;
    background-image: url("/assets/selected.svg");
    background-position: top right;
    background-repeat: no-repeat;
  }
  &.selected .card .info {
    color: #fff;
    background-color: #000;
  }

  .card {
    background-color: #fff;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 3px 8px #efefef;
    border: 1px solid #ccc;

    .pic {
      background-image: none;
      
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 10px;
    }

    .info {
      background-color: #e6e6e6;
      padding: 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 16px;
      font-weight: bold;
    }
    .name,
    .occupation {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
    }
    .name {
      font-size: 14px;
    }

    .occupation {
      font-size: 11px;
    }
  }
}

.playerlog {
  //border-radius: 4px;
  background-color: #fff;
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 6px 12px #efefef;
  border: 1px solid #ccc;
  min-width: 530px;
  max-width: 600px;
  min-height: 200px;

  .row {
    margin-top: 5px;
  }

  .playerpic {
    border-radius: 4px;
    display: block;
    float: left;
    border-right: 1px solid #ccc;
    width: 160px;
    padding-right: 10px;
    text-align: center;
    margin: 0px auto;
  }

  .log-votedfor {
    display: block;
    float: left;
    width: 85px;
    border-right: 1px solid #ccc;
    padding: 0 10px;
    min-height: 130px;

    img {
      text-align: center;
      margin: 0 auto;
    }

    .votecount {
      
      p {
        text-align: center;
        line-height: 40px;
        margin: 0 auto;
        display: block;
        float: left;
        background-color: #efefef;
        margin: 5px 5px 0 0;
        padding: 0;
        width: 40px;
        font-weight: bold;
      }

    }

    .lynched {
      text-align: center;
      line-height: 40px;
      display: block;
      float: left;
      background-color: #efefef;
      margin: 5px 0 0 0;
      padding: 0;
      width: 40px;
      height: 40px;

      p {
        text-align: center;
        margin: 0 auto;
        padding: 0;
      }
    }

  }

  .wrapper {
    background: #efefef;
  }

  .log-votedby {
    min-height: 130px;
    padding: 0 10px;
    display: block;
    float: left;
    width: 220px;

      p {
        font-style: italic;
      }
  }

  .info {
    color: #333;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    display: block;
    float: left;
    width: 160px;
  }

  .pager {
    display: block;
    float: left;
  }
}

@media all and (max-width: 1024px) {
  .players .player {
    width: 33.3333333333333%;
  }
}

.status-wrap {
  background-color: #333;
}
#status-area {
  .status-wrap;
}

.status {
  max-width: @maxWidth;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

#status {
  .status
}

.timer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 40px;
}
strong {
  font-weight: bold;
}

.contestant {
}
.contestant {
  .flex-display(flex);
  margin-top: 20px;
  .pic {
    width: 75px;
    height: 80px;
    img {
      width: 100%;
    }
  }
}
.votes {
  .flex(1);
  overflow: hidden;
}

.vote {
  background-color: #fff;
  width: 20px;
  height: 20px;
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.demo {
  position: absolute;
  padding: 20px;
  button {
    margin: 0;
  }
}
.in-lobby {
  .status, .game, .footer {
    display: none;
  }
}
.in-game .lobby {
  min-height: 0;
  height: auto;
}
.in-game .intro-wrap {
  display: none;
}


@baseColor: #c00;
.loop-through(@n) when (@n > 0) {
  .color-@{n} {
     background-color: spin(@baseColor, @n * 110);
     color: contrast(spin(@baseColor, @n * 110));
  }
  .loop-through(@n - 1);
}
.loop-through(16);

