extends layout

block body
  .jumbotron
    .container
      h1 Lynch all the things!
      :markdown
        Werewolves.io is yet another implementations of the [party-game werewolves](http://maxistentialism.com/werewolf),
        but not quite in any way you have seen it implemented before.
