.card
  .pic(class="color-#{seqId}")
    - if (me && role)
      img(src="/assets/player_#{role}_default.svg")
    - else
      img(src="/assets/player_villager_default.svg")
  .info
    .name= name
    .occupation= occupation
